_build
eff
eff.exe

# Backup files
*~

# Silly Mac OS X files
.DS_Store

# VSC
.vscode
.devcontainer

# Dune take care of this
.merlin

# Generated
docs/try/jseff.bc.js

# Compiler generated code - once compiler is fixed, this should be cleaned up
_tmp
_tmp_no_opt
tests/code-generation/pure/*.ml
tests/code-generation/pure/*.eff

